<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @correlation_collection.title %>
</p>

<%= link_to 'Edit', edit_correlation_collection_path(@correlation_collection) %> |
<%= link_to 'Back', correlation_collections_path %>
