<blockquote>
	<h2>Introduction</h2>
    <p>This is a simple project to relearn RoR while building something useful. This should not be used for investment advice nor does it gurantee any sort of result. This simulator allows you to select a starting portfolio, consider annual contributions or draws, and see a probability distribution of results.</p>
</blockquote>
<hr>
<h3>Assumptions</h3>
<p align="justify">These assumptions were made to simplify the development.
	<ol>
		<li>All contributions or draws are made at the end of the year in a single chunk</li>
		<li>Version 1 correlations between asset classes are fixed and reasonably conservative</li>
		<li>Contributions and draws will prioritize out of allocation target assets first to minimize rebalancing events</li>
		<li>Rebalancing events will happen on a per asset basis, returning them to exactly the target allocation and allocate to assets which are under allocated on a pro rata basis</li>
	</ol>
</p>
<hr>
<h2>Disclaimer!</h2>
    <p>I built this project for fun. While I have attempted to build it in such a way to produce meaningful results, I highly recommend you do NOT make any investing decisions based on this tool. I have no liability concerning use of these results, past performance doesn't guarantee future results, all that crap.</p>